---

---

<div class="text-center text-xs space-y-2">
  <p>All Rights Reserved &copy; 2025</p>
  <p>
    Built with <a href="https://astro.build" class="text-[#ff5607]">Astro</a> by
    <a href="https://tam11a.dev" class="text-gradient font-semibold"
      >Ibrahim Sadik Tamim</a
    >
  </p>
</div>
