---
import { Icon } from "astro-icon/components";
---

<div
  class="!text-xs gap-10 flex flex-col md:flex-row items-center justify-between"
>
  <p class="text-offcolor !text-xs">&copy;tam11a ✦ Ibrahim Sadik Tamim</p>
  <p
    class="inline-flex items-center justify-center gap-1 text-offcolor !text-xs"
  >
    Built with <a href="https://astro.build" target="_blank" class="text-lg"
      ><Icon name="vscode-icons:file-type-astro" title="Astro" /></a
    > and <a href="https://tailwindcss.com" target="_blank" class="text-lg"
      ><Icon name="vscode-icons:file-type-tailwind" title="Tailwind CSS" /></a
    >
  </p>
</div>
