---

---

<ul
  class="inline-flex flex-wrap gap-4 items-center justify-center text-center w-full list-none"
>
  <li>
    <a href="/work" class="footer-link">work</a>
  </li>
  <!-- <li>
    <a href="/#article" class="footer-link">article</a>
  </li> -->
  <li>
    <a href="/links" class="footer-link">links</a>
  </li>
  <!-- <li>
    <a href="/#version" class="footer-link">version</a>
  </li> -->
</ul>
