---
import { Image } from "astro:assets";
---

<header class="container flex items-center justify-start gap-2 py-20">
  <Image
    src="/tam.svg"
    alt="Logo of Ibrahim Sadik Tamim"
    srcset="/tam.svg"
    loading="eager"
    width={120}
    height={120}
    class="w-20 h-auto"
  />
  <div></div>
</header>
