---

---

<header class="container flex items-center justify-start gap-2 my-10">
  <img
    src="/tam.svg"
    alt="Logo of Ibrahim Sadik Tamim"
    srcset="/tam.svg"
    loading="eager"
    class="w-20 h-auto"
  />
  <div></div>
</header>
