---

---

<header
  class="container mx-auto flex items-center justify-between gap-2 my-10 p-4"
>
  <div></div>
  <img
    src="/tam.svg"
    alt="Logo of Ibrahim Sadik Tamim"
    srcset="/tam.svg"
    loading="eager"
    class="w-16 h-auto"
  />
  <div></div>
</header>
