---
import MainLayout from "../layouts/main.astro";
---

<MainLayout>
  <div
    class="gap-1 flex flex-col items-center justify-center h-full min-h-[50vh]"
  >
    <h1 class="text-gradient font-bold text-7xl w-fit mb-4">Oops!</h1>
    <p>Looks like you're lost.</p>
    <p>Let's get you back on track.</p>
    <div class="pt-6">
      <a href="/" class="capsule-btn my-10">Go Home</a>
    </div>
  </div>
</MainLayout>
