---
import { Image } from "astro:assets";
import MainLayout from "../layouts/main.astro";
import FeaturedGallery from "../_components/featured/gallery.astro";
import { Icon } from "astro-icon/components";
---

<MainLayout>
  <!-- HERO -->
  <div class="space-y-4">
    <!-- INTRO -->
    <h1 class="font-serif text-2xl sm:text-4xl md:text-5xl !leading-tight">
      Hi, I'm Ibrahim Sadik Tamim,
      <br />
      co-founder & software engineer
      <br />
      at <a href="https://definedsolution.com" class="text-ds-gradient"
        >Defined Solution</a
      >.
    </h1>

    <!-- SOCIAL -->
    <div class="flex gap-6 flex-row flex-wrap py-3">
      <a href="https://github.com/tam11a" class="social-link"
        ><Icon name="lucide:github" /> GitHub</a
      >
      <a href="https://www.linkedin.com/in/tam11a/" class="social-link"
        ><Icon name="lucide:linkedin" /> LinkedIn</a
      >
      <a href="https://www.youtube.com/@tamslab" class="social-link"
        ><Icon name="lucide:youtube" /> YouTube</a
      >
    </div>

    <!-- ABOUT -->
    <p class="sm:text-lg">
      A Digital Creator and Software Engineer based in Bangladesh, passionate
      about crafting digital products that solve real-world problems. I
      specialize in building scalable, maintainable, and user-friendly software
      solutions.
    </p>

    <h2 class="text-offcolor sm:text-lg">
      Currently bringing ideas to life at <a
        href="https://definedsolution.com"
        class="font-semibold text-gradient">@definedsolution</a
      >.
    </h2>

    <!-- FEATURED GALLERY -->
    <FeaturedGallery />

    <!-- SAY HI! -->
    <div
      class="mt-20 bg-gradient-to-r from-[#00FF8F0f] to-[#00A1FF0f] !bg-opacity-5 py-7 sm:py-12 px-7 sm:px-10 rounded-xl shadow flex flex-col-reverse md:flex-row gap-10 items-start md:items-center justify-between max-w-sm md:max-w-none"
    >
      <div class="flex-[0.6]">
        <h3 class="text-4xl font-semibold text-gradient">Say hi!</h3>
        <div class="flex gap-6 flex-row flex-wrap py-6">
          <a href="mailto:ibrahimsadiktamim@gmail.com" class="sayhi-link"
            ><Icon name="lucide:mail" /> Mail</a
          >
          <a href="https://www.linkedin.com/in/tam11a/" class="sayhi-link"
            ><Icon name="lucide:linkedin" /> LinkedIn</a
          >
        </div>

        <p>
          I'm always open to new opportunities, collaborations, and
          conversations. Feel free to reach out to me.
        </p>
      </div>
      <div class="flex-[0.4]">
        <Image
          src="/chat.svg"
          alt="Say Hi!"
          class="w-52 ml-auto drop-shadow-lg"
          loading="eager"
          width="256"
          height="256"
        />
      </div>
    </div>
  </div>
</MainLayout>
