---
import SecondaryLayout from "../layouts/secondary.astro";
import { Icon } from "astro-icon/components";
---

<SecondaryLayout
  title="Links | Ibrahim Sadik Tamim - tam11a ✦ coder, designer, thinker"
>
  <h2 class="text-offcolor text-center">
    Currently bringing ideas to life at <a
      href="https://definedsolution.com"
      class="font-semibold text-gradient">@definedsolution</a
    >.
  </h2>
  <div class="flex flex-row gap-2 items-center justify-center flex-wrap my-8">
    <a
      href="mailto:ibrahimsadiktamim@gmail.com"
      target="_blank"
      class="social-btn"><Icon name="lucide:mail" /></a
    >
    <a href="tel:+8801521579148" target="_blank" class="social-btn"
      ><Icon name="lucide:phone" /></a
    >
    <a href="https://tam11a.dev" target="_blank" class="social-btn"
      ><Icon name="lucide:link" /></a
    >
  </div>

  <div
    class="flex flex-col gap-2 mx-auto w-full max-w-sm p-3 items-center justify-start"
  >
    <a href="https://github.com/tam11a" target="_blank" class="linktree-btn">
      <Icon name="lucide:github" />
      <span>GitHub</span>
      <Icon name="lucide:arrow-up-right" />
    </a>
    <a
      href="https://www.linkedin.com/in/tam11a/"
      target="_blank"
      class="linktree-btn"
    >
      <Icon name="lucide:linkedin" />
      <span>LinkedIn</span>
      <Icon name="lucide:arrow-up-right" />
    </a>
    <a href="https://dribbble.com/tam11a/" target="_blank" class="linktree-btn">
      <Icon name="lucide:dribbble" />
      <span>Dribbble</span>
      <Icon name="lucide:arrow-up-right" />
    </a>
    <a
      href="https://www.youtube.com/@tamslab"
      target="_blank"
      class="linktree-btn"
    >
      <Icon name="lucide:youtube" />
      <span>YouTube</span>
      <Icon name="lucide:arrow-up-right" />
    </a>
    <a
      href="https://www.instagram.com/tam11a/"
      target="_blank"
      class="linktree-btn"
    >
      <Icon name="lucide:instagram" />
      <span>Instagram</span>
      <Icon name="lucide:arrow-up-right" />
    </a>
  </div>
</SecondaryLayout>
