---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";

const featured = await getCollection("featured");
---

<section
  class="relative cursor-pointer [&:hover>a]:inline [&:hover>a]:opacity-100 [&:hover>a]:scale-100 [&:hover>div>ul]:scale-95 [&>*]:transition-all [&:hover>div>ul>li>img]:blur-md"
>
  <a
    href="/#work"
    class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 z-10 text-gradient drop-shadow-black drop-shadow-md hidden scale-0 opacity-0 text-center"
  >
    crafted for a few startup, corporate and brands
  </a>
  <div class="relative flex overflow-x-hidden gap-2">
    <ul
      class={`inline-flex py-10 items-center justify-between gap-2 animate-marquee1`}
    >
      {
        featured.map(({ data: { logo, company } }) => (
          <li>
            <Image
              src={logo}
              alt={company}
              loading="eager"
              width="256"
              height="256"
              class={"h-12 saturate-0"}
            />
          </li>
        ))
      }
    </ul>
    <ul
      class={`py-10 absolute top-0 inline-flex w-full items-center justify-between gap-2 animate-marquee2`}
    >
      {
        featured.map(({ data: { logo, company } }) => (
          <li>
            <Image
              src={logo}
              alt={company}
              loading="eager"
              width="256"
              height="256"
              class={"h-12 saturate-0"}
            />
          </li>
        ))
      }
    </ul>
  </div>
</section>
